<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
</head>
<body>
    <h3>Editar Usuario</h3>
    <form action="/editar/{{ usuario[0] }}" method="POST" enctype="multipart/form-data">
        <label for="id">ID:</label>
        <input type="number" name="id" value="{{ usuario[0] }}" required>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{ usuario[1] }}" required>
        <br>
        <label for="estatura">Estatura:</label>
        <input type="float" name="estatura" value="{{ usuario[2] }}" required>
        <br>
        <label for="peso">Peso:</label>
        <input type="number" name="peso" value="{{ usuario[3] }}" required>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" value="{{ usuario[4] }}" required>
        <br>
        <br>
        <input type="submit" value="Guardar Cambios">
        <a href="/">Cancelar</a>
    </form>
</body>
</html>
